<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginpage.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="container right">
            <section class="">
                <h1>Log In</h1>
                <form action="#" class="form" method="POST"> {% csrf_token %}
                    <input type="text" placeholder="username" class="email" id="username" name= "username">
                    <input type="password" placeholder="Password" name="password" id="pwd" class="password">
                    <div class="remember-forget">
                        <input type="checkbox" class="checkbox" id="remember">
                        <label for="remember">Remember me</label>
                        <input type="checkbox" class="checkbox" id="show_pass">
                        <label for="show_pass">show password</label>
                        <a id="forgot-password" href="#">Forgot Password?</a>
                    </div>
                    <input type="submit" value="LOG IN" id="login-btn" class="login-button">
                </form>
                
                <p>{{user}},{{password}} </p>
            </section>
            <div class="social-media">
                <p>Or connect with</p>
                <ul>
                    <a href="#"><li><i class="fa-brands fa-facebook"></i></li></a>
                    <a href="#"><li><i class="fa-brands fa-twitter"></i></li></a>
                    <a href="#"><li><i class="fa-brands fa-github"></i></li></a>
                    <a href="#"><li><i class="fa-brands fa-linkedin-in"></i></li></a>
                </ul>
            </div>
            <footer class="footer-right">
                <h5> © 2023</h5>
            </footer>
        </div>
        <div class="container left">
            <section class="lft">
                <i class="fa-solid fa-user-plus"></i>
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start a journey with us</p>
                <button>REGISTER <span id="register-arrow"><i class="fa-thin fa-circle-arrow-right"></i></span></button>
            </section>
        </div>
    </div>
    <script src="{% static 'loginpage.js' %}"></script>
</body>

</html>