body{
    display: flex;
    justify-content: space-between
}

.left div, .right div, .center div{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}