body {
    margin: 0;
}

.nav {
    background-color: rgb(3, 3, 3);
    height: 60px;

}

i {
    color: white;
    font-size: 28px;
    padding: 15px 15px;
    margin-left: 15px;
}

a {
    float: right;
    padding: 20px;
    text-decoration: none;
    margin-right: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-wrapper {
    width: 100%;
    height: 85vh;
}

.im {
    height: 400px;
    width: 100%;
    background-size: cover;
}

.image1 {
    background-image: url(/Shopping_website/ShoppingProjectSetup_Week1Day2/image1.png);
}

.image2 {
    background-image: url(/Shopping_website/ShoppingProjectSetup_Week1Day2/image2.png);
}

.image3 {
    background-image: url(/Shopping_website/ShoppingProjectSetup_Week1Day2/image3.png);
}

.image4 {
    background-image: url(/Shopping_website/ShoppingProjectSetup_Week1Day2/image4.png);
}

.product {
    height: 550px;
    width: 22%;
    display: inline-block;
    margin: 11px;
    position: relative;
}

.pd1 {
    margin-left: 35px;
}



.new {
    position: absolute;
    top: 15px;
    left: 15px;;
}

.pd-info {
    margin: 0 auto;
    overflow: hidden;
}


.disc {
    float: right;
    position: absolute;
    top:15px;
    right: 15px;
    height: 60px;
}

.pd-name {
    font-weight: bold;
    width: 100%;
    font-size: 18px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

span {
    font-size: 12px;
}

p {
    text-align: center;
}

.price {
    color: rgb(50, 202, 202);
    font-size: 21px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px;
    color: rgb(99, 83, 83);
    background-color: rgb(198, 219, 219);
    border-style: groove;
    border: 1px solid antiquewhite;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(64, 75, 69);
    color: white;
}

footer {
    background-color: rgba(82, 109, 196, 0.534);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;

}

.author,
.year {
    display: inline-block;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.year {
    margin-left: 70px;
}

.author {
    float: right;
    margin-right: 70px;

}