#barcode{
    display:flex;
    justify-content:space-between;
    background-color:orange;
    height: 40px;
    align-items: center;
}

li{
    list-style-type: none;
    display: inline;
    margin: 3px;

}

a{
    text-decoration:none;
    color: green;
}



<link rel="stylesheet" type="text/css" href="Project.css">

<div id = barcode>
            <div>Logo</div>
                <ul>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Courses</a></li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Contact</a></li>
                   
                </ul> 
        </div>