@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Raleway:ital,wght@1,200&family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap');

body{
    margin: 0%;
    background-size: cover;
    position: relative;
}
/* #barcode{
    display:flex;
    justify-content:space-between;
    background-color:rgb(0, 0, 0);
    height: 70px;
    align-items: center;
} */
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Comic Neue', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}


#barcode{
    display:flex;
    justify-content:space-between;
    background-image: linear-gradient(to left top,#24211e,#463e2b);
    height: 70px;
    align-items: center;
}
.navlist a{
    font-size: 20px;
    text-decoration:none;
    color: black;;
}

li{
    list-style-type: none;
    display: inline;
    margin: 10px;

}

a{
    text-decoration:none;
    color: green;
}

.navlist{
    margin-left: 25px;
}
.navlist img{
    height: 40px;
    width: 40px;
}
#about{
    text-align: center;
    width: 80%;
    height: 200px;
    margin: 100px;
    display: flex;
    /* background-color: aqua; */
}

.about-left, .about-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right{
    padding: 45px;
    font-size: 22px;
}

.about-left h1, .team-left h1{
    font-size: 75px;
}

.contacts h2{
    margin:41px;
    font-size: 75px;
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.card{
margin: 30px;
}
.card-img-top{
    height: 150px;
    width: 200px;
}
.bro{
    text-align: center;
    font-size: 30px;
}
#courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 300px;
    margin-left: 100px;
    /* background-color: aqua; */
}
li a{
    text-decoration: none;
    color: white;
    align-self: center;
    font-family:'Courier New', Courier, monospace;
}
.crd{
    margin: 10px;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 900;
    box-shadow: 3px 4px 1px rgba(8, 8, 41, 0.493);
    color:white;

}
.crd a{
    text-decoration: none;
}

.crd:hover{
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    color:#b98c23;
    opacity: .5;
    transition: all linear 1s;
}

.card1{
    background-image: url("code.jpg");
}
.card2{
    background-image: url("trading.jpg");
}
.card3{
    background-image: url("science.jpg");
}
.card4{
    background-image: url("design.jpg");
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid ;
    margin-top: 20px;
    color: white;
    font-family: cursive;
}

section{
    margin:40px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.contacts-wrapper{
    display: flex;
    align-content: center;
    

}

.left, .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right input{
    margin: 8px;
    width: 85%;
    height: 25px;
    background-color: azure;
}

.right input:focus, textarea:focus{
    outline: none;
    border: 2px solid rgba(151, 82, 82, 0.336);

}
section li{
    list-style-type: none;
    display: inline;
}

h2{
    font-size: 38px;
    text-transform: capitalize;
}

h3{
    font-size: 40px;
    color:rgb(90, 90, 116);
    text-transform: capitalize;
}

section li a{
    margin:0 8px;
    font-size: 25px;
    color: black;
}
li a:hover{
    opacity: .5;
}
textarea{
    width: 90%;
    resize: none;
    overflow: auto;
    background-color:ghostwhite;
    border-radius: 8px;
}

.left{
    border-right: 2px solid rgb(117, 117, 183);
}

.left ul{
    margin:5px 0;
    padding: 0;
}

#send-btn{
    width: 40%;
    background-color: rgba(127, 150, 255, 0.212);
    border-style: none;
    border-radius: 5px;
    color: #fff;
}

#send-btn:active{
    opacity: .8;
    transform: scale(.9,.9);
}

.carousel, .carousel-item{
    display: block;
    width: 100%;
    height: 90vh;
}

