body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.btn {
    background-color: orangered;
    font-size: 20px;
    padding: 20px 40px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: rgb(42, 165, 65);
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn span{
    position: relative;
    z-index: 1;
}